.mainpage{
    background-color: #EC8FAB;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}
.pseudobar{
    padding-top: 3%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo{
    height: 100%;
}
.logoholder{
    height: 100%;
    margin-left: 10%;
}
.social{
    display: inline;
    margin-left: 63%;
    height: 100%;
}
.socialbutt{
    height: 100%;
}
.socialbutt:hover{
    cursor: pointer;
}
.body{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    padding-left: 0;
}

.party{
    position: absolute;
    bottom:0;
    margin-bottom: 0;
    margin-right: 0;
}
.partyimg{
    width: 100vw;
    height: 15vh;
}

.wallet{
    display: inline;
    margin-left: 2%;
    height: 100%;
}

.walletbutt{
    margin-top: 1%;
    height: 112%;
}
.walletbutt:hover{
    cursor: pointer;
}
.mint{
    width:300px;
    height: 110px;
    background-color: #653780;
    border: none;
    border-radius: 50px;
    text-align: center;
    padding-top:50px;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    color: #F89F5B;
    margin-right: 8%;

}
.mint:hover{
    background-color: #2f0846;
    cursor: pointer;
}

.gift{
    margin-left: 0%;
}
.panel{
    height: 500px;
    width: 150px;
    background-color: #653780;
    margin-right: 16%;
    align-self: flex-start;
    z-index: 2;
}