.root {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
}

.voucher {
  border-radius: 1.6rem;
  border-color: #9c3587;
  border: solid #9c3587;
  border-width: 2px;
  -webkit-box-shadow: 0px 5px 15px -2px #9c3587;
  box-shadow: 0px 5px 15px -2px #9c3587;
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 90%;
  background-color: white;
  margin-bottom: 1vh;
}

.voucher1{
    border-radius: 1.6rem;
    border-color: grey;
    border: solid #967b91;
    border-width: 2px;
    -webkit-box-shadow: 0px 5px 15px -2px #85637e;
    box-shadow: 0px 5px 15px -2px #876d82;
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 90%;
    background-color: #b8b2b2;
    margin-bottom: 1vh;
  }

.text {
  color: #9c3587;
  font-size: 7vw;
  margin: 0;
  padding: 1.5rem;
  padding-bottom: 0.5rem;
}

.logo1 {
  max-width: 30%;
  height: auto;
  margin-left: 0.5vw;
  padding: 1.5rem;
}

.logo2 {
  max-width: 45%;
  height: auto;
  padding: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.btm {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: 0;
  background-color: #9c3587;
  margin-bottom: 1.5rem;
  width: 40vw;
  height: 5vh;
  align-items: center;
}

.subtext1 {
  text-align: right;
  margin-right: 5vw;
  margin-left: 5vw;
  color: white;
  font-size: 5vw;
  font-weight: bold;
}

.subtext2 {
  margin: 0;
  text-align: right;
  color: white;
  font-size: 10px;
  font-size: 3vw;
}

.bar {
  background-color: #9c3587;
  height: 15px;
  margin-bottom: 2.5vh;
}


